html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white; 
    background: rgb(15, 5, 37);
  }
}
.collections, .chart{
  background-color: rgb(32, 37, 104);
  margin: auto;
}
.coll{
  padding: 10px;
}
.tableCell{
  color: white;
  border: none;
}
